.dashboard {
    border-top: 1px solid $clr7;
    padding-top: 30px;
    gap: 50px;
    flex-wrap: wrap;
}

.kpis, .doughnuts{
    width:100%;
}


.dashboard-header, .members,
.task-count {
    min-width: 400px;
    height: 200px;
    text-align: center;
}

.members {
    font-size: 32px;
    > h2 {
        margin-bottom: 20px;
    }

}
.high-kpi {
    font-size: 36px;
    color: #ec3390;
}

.done-kpi {
    font-size: 36px;
    color: #00c875;
}

.bar-tasks-per-member {
    // width: 500px;
    height: 500px;
}

.border {
    border: 2px solid gray;
    padding: 20px;
}

.dash-header {
    margin-bottom: 20px;
    text-align: center;
}

.bar-tasks-per-group {
    width: 500px;
    height: 500px;
}

.doughnut-tasks-per-status,
doughnut-tasks-per-priority {
    margin: 30px 100px;
    justify-content: center;
}
.bars,
.doughnuts {
    justify-content: center;
    align-items: center;
    flex-basis: fit-content;
    gap: 80px;
    // width: fit-content;
    // height: 500px;
    
}
