.dashboard {
    border-top: 1px solid $clr7;
    padding-top: 30px;
    gap: 50px;
    flex-wrap:wrap;

}
.bar-tasks-per-member{
    width:500px;
    height:500px;
}

.border {
    border: 2px solid gray;
    padding: 20px;
}

.dash-header{
    margin-bottom: 20px;
    text-align: center;
}

.bar-tasks-per-group{
    width:500px;
    height:500px;
}

.doughnut-tasks-per-status, doughnut-tasks-per-priority{
    margin:  30px 100px;
}